# Data Science Tools and Ecosystem

__Objectives:__

- List popular languages in Data Science
- List commonly used libraries in Data Science
- List popular Data Science tools
- Perform multiplication and addition 
- Convert hours to minutes

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

|Data Science Tools:|
|-------------------|
|Jupyter Notebooks|
|R Studio|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers

print((3*4) + 5)

17

In [12]:
#This will convert 200 minutes to hours by diving by 60

hrs = 200//60
mins = 200%60
print(hrs, "hrs", mins, "mins" )

3 hrs 20 mins

## Author:
Abhinav Bommireddi